In [53]:
import pandas as pd

In [54]:
# Read the csv file
df = pd.read_csv('Puzzle4.csv', header=None)
df.head()

,0,1,2
0,Card 1,10 5 11 65 27 43 44 29 24 69,65 66 18 14 17 97 95 34 38 23 10 25 22 15 87 ...
1,Card 2,25 43 15 31 45 19 36 73 34 85,92 11 85 68 74 20 19 71 1 36 43 32 77 33 14 ...
2,Card 3,4 46 42 23 18 98 59 75 19 57,22 3 75 80 42 23 59 39 98 38 18 21 67 57 20 ...
3,Card 4,92 13 56 27 19 44 70 93 32 66,38 4 19 75 87 93 32 1 23 14 51 22 42 44 33 ...
4,Card 5,25 18 30 45 23 80 91 13 47 61,62 45 71 30 39 19 61 68 23 80 91 96 25 58 13 ...

In [55]:
for i in df.index:
    df[1][i] = df[1][i].strip().split(' ')
    df[2][i] = df[2][i].strip().split(' ')

In [56]:
points = [0] * 200

In [57]:
df[1][0]

['10', '', '5', '11', '65', '27', '43', '44', '29', '24', '69']

In [58]:
for i in df.index:
    match = 0
    for item in df[1][i]:
        if item != '':
            for code in df[2][i]:
                if item == code:
                    match = match + 1
    if match > 0:
        points[i] = 2 ** (match-1)

In [59]:
points

[8,
 512,
 128,
 512,
 128,
 512,
 512,
 64,
 64,
 2,
 8,
 64,
 8,
 4,
 1,
 1,
 0,
 1,
 0,
 512,
 512,
 128,
 32,
 4,
 0,
 64,
 16,
 2,
 4,
 0,
 1,
 4,
 0,
 0,
 0,
 512,
 64,
 512,
 128,
 1,
 1,
 2,
 16,
 32,
 32,
 0,
 8,
 0,
 2,
 0,
 0,
 512,
 8,
 32,
 8,
 512,
 512,
 512,
 4,
 16,
 64,
 32,
 2,
 8,
 8,
 1,
 0,
 2,
 0,
 0,
 512,
 512,
 512,
 8,
 512,
 2,
 512,
 512,
 512,
 512,
 512,
 512,
 4,
 2,
 8,
 4,
 32,
 16,
 4,
 8,
 4,
 2,
 1,
 0,
 512,
 512,
 512,
 1,
 8,
 128,
 8,
 2,
 0,
 4,
 0,
 0,
 8,
 0,
 4,
 2,
 1,
 0,
 16,
 2,
 32,
 512,
 512,
 128,
 128,
 64,
 32,
 1,
 4,
 1,
 1,
 1,
 0,
 32,
 4,
 512,
 512,
 512,
 512,
 64,
 0,
 0,
 512,
 32,
 0,
 2,
 1,
 2,
 1,
 2,
 0,
 1,
 0,
 16,
 32,
 64,
 512,
 512,
 2,
 0,
 0,
 64,
 128,
 2,
 16,
 4,
 4,
 2,
 2,
 0,
 0,
 32,
 512,
 8,
 1,
 512,
 1,
 8,
 512,
 512,
 2,
 4,
 4,
 4,
 32,
 0,
 8,
 0,
 2,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [60]:
df[3] = 1
for i in df.index:
    match = 0
    for item in df[1][i]:
        if item != '':
            for code in df[2][i]:
                if item == code:
                    match = match + 1
    # print("card", i+1, "matches", match, "copies", df[3][i])
    if match > 0:
        for j in range(1, match+1):
            df[3][i+j] = df[3][i+j] + df[3][i]

<ipython-input-60-231bfe19911a>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[3][i+j] = df[3][i+j] + df[3][i]

In [61]:
sum(df[3])

9881048